* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: lightslategray;
}

div.main {
    width: 100%;
    background-color: lightgray;
}

div.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: lightblue;
}

div.header button {
    padding: 20px 30px;
    border: none;
    background-color: green;
    color: white;
}
